body {
  background-color: rgb(95, 158, 160, 20%)
}

.page-heading {
  text-align: center;
}

.btn:hover {
 box-shadow: 0px 1px 3px grey
}

.btn:active {
  transform: translateY(2px)
}

.button-right {
  display: flex;
}

.button-register {
  flex: auto;
}

.jam-form {
  width: 100%;
  padding: 1rem!important;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 10px 20px lightgrey, 0px 6px 6px lightgrey;
  display: inline-block;
  position: relative;
  background-color: white;
}

.dash-sidebar {
  display: block;
  margin-top: 3rem;
  padding: 15px;
  height: 45rem;
  border: 1px solid rgba(211, 211, 211, 0.4);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.add-news{
  height: 40rem;
  box-shadow: 0 0;
  border: 1px solid rgba(211,211,211,50%);
  background-color: rgba(211,211,211,10%);
}

.signInFooter {
  display: block;
  height: 10rem;
  margin: 15px -16px -16px -16px;
  border-top: 1px solid lightgray;
  background-color: rgb(211,211,211,20%)
}

.line {
  overflow: hidden;
  text-align: center;
  margin-top: 2rem;
}

.line:before,
.line:after {
  background-color: green;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 25%;
}

.line:before {
  right: 0.5em;
  margin-left: -50%;
}

.line:after {
  left: 0.5em;
  margin-right: -50%;
}

#linkToRegister {
  display: flex;
  margin: 2rem 0;
}

#btnRegisterRedirect {
  margin: auto;
}

.profile-form {
  display: block;
  margin: auto
}

.right {
  margin-left: auto;
}

.list-group {
  margin-top: 10px;
  margin-bottom: 25px;
}

.display-row{
  display: flex;
  padding: 10px 0;
  margin-bottom: .25rem;
  border: 1px solid lightskyblue;
  border-radius: 3px;
  align-items: center;
  box-shadow: 2px 2px 5px grey;
}

.display-row:nth-child(even){
  background-color: rgba(255, 254, 218, 0.6);
}

.display-row:nth-child(odd){
  background-color: rgba(255, 255, 255);
}

.display-cell, .phone-cell {
  padding: 0px;
}

.phone-cell {
  text-align: end;
}

.delete-btn {
  background-color: rgb(220,220,220,50%);
  border-radius: 100%;
  margin: 0 15px;
  padding: 0.175rem 0.5rem;
}

textarea.news-msg {
  height: 27rem;
}

.news {
  margin-top: 2rem;
  padding: 12px;
  border-radius: 5px;
  background-color: white;
}

.news-section {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin: 20px 0px;
  box-shadow: -2px 3px 3px grey, 1px -1px 3px lightgrey;
}

.news-header {
  font-size: .75rem;
  padding: 10px 10px;
  background-color: rgb(220,220,220,50%);
  display: flex;
  flex-direction: column;
}

.news-scroll {
  height: 25rem;
  padding: 12px;
  overflow-y: scroll;
}

.trash {
  background-color: rgb(255,0,0,20%);
}

.news-date {
  margin-left: auto;
}

.news-body {
  margin: 10px 10px 30px 10px;
}

.edit-btn, .delete-btn {
  border-radius: 100%;
}

#coordinator-news-head {
  display: flex;
  margin-left: auto;
}

#coordinator-news-delete {
  color: red;
}

#news-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid lightgrey;
}

#news-post-btn {
  position: relative;
  margin-top: 3rem;
}

#showDeleted {
  position: absolute;
  bottom: 0px;
}

/* Media Queries */
@media (max-height: 740px) {
  textarea.news-msg {
    height: 27rem;
  }
}

@media (max-width: 576px) {
  #newsContainer {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .dash-sidebar {
    display: none;
  }

  #showDeleted {
    right: 0px;
    bottom: auto;
  }

  #news-sidebar {
    border-bottom: 1px solid lightgrey;
    border-right: none;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  #newsContainer {
    height: 45rem;
    overflow-y: scroll;
  }
}